[2018-05-14 06:38] KrisThielemans opened #3 "edit README.md to replace spyder with notebook interface"
will need some basic instructions somewhere on how to start the notebook server (or ipython-notebook).

[2018-05-14 22:22] KrisThielemans opened #4 "use %matplotlib notebook"
this allows animation and also saving of figures, zooming etc (not resizing)

[2018-05-14 22:56] KrisThielemans opened #5 "spyder notebook conversion"
I had some trouble getting the converter to work (it's ok until the very end when it crashse). However, https://github.com/gatsoulis/py2ipynb does the trick for me. It does convert the text after #%% to a heading which looks a tiny bit nicer.

@paskino, use whatever works best for you of course

[2018-05-16 21:26] KrisThielemans commented on #4
documented

[2018-05-16 21:26] #4 closed

[2018-05-18 06:00] KrisThielemans opened #8 "change URL for NEMA data"
the current azure link will expire afer the course so we need to put the data elsewhere later on.

[2018-05-18 06:07] paskino commented on #8
Uploading to the ccppetmr website would do?

[2018-05-18 06:09] KrisThielemans commented on #8
sure, but don't do it now! We need to get moving on uploading to zenodo but that requires better preparation..

[2018-05-18 11:42] rijobro opened #10 "Replacing symbolic links"
Currently `download_MR_data.sh`  downloads the data to `~/data` and then symbolically link the files into the locations expected by the examples.

This may cause a problem for the two grappa files (`grappa2_1rep.h5` and `grappa2_6rep.h5`, which during `git pull`, are downloaded directly into the examples folder. This might lead to the files having to replace the dynamic links in the same folder.

[2018-05-18 11:44] evgueni-ovtchinnikov opened #11 "jupyter notebook reconstruct_measured_data: missing file 20170809_NEMA_60min_UCL.l.hdr"
In [2]:
list.l                  mMR_template_span11.s         mu_map.hv  norm.n.hdr
list.l.hdr              mMR_template_span11_small.hs  mu_map.v   README.md
mMR_template_span11.hs  mMR_template_span11_small.s   norm.n

In [7]:
error: ??? "'Error opening file 20170809_NEMA_60min_UCL.l.hdr\\n' exception caught at line 261 of /home/sirfuser/devel/buildVM/sources/SIRF/src/xSTIR/cSTIR/cstir.cpp\nthe

[2018-05-18 11:49] KrisThielemans commented on #11
should be fine after doing the download described in https://github.com/CCPPETMR/SIRF-Exercises/blob/master/INSTALL.md.

[2018-05-18 13:15] #11 closed

[2018-07-05 17:25] KrisThielemans opened #12 "insert "%matplotlib notebook" in all notebooks"
currently documented, but it does trip people up. some notebooks have it, others not.

[2019-01-10 11:54] KrisThielemans opened #14 "fully_sampled_recon_three_chains.ipynb fails (with SIRF master)"
At present, `image_array` has `shape` `[0,0,0]`. `complex_image_data` seems alright though (its shape after `as_array` is `[2,256,256]`).

I haven't checked the corresponding SIRF demo.

[2019-01-11 14:42] evgueni-ovtchinnikov commented on #14
`fully_sampled_recon_three_chains.ipynb` works fine on my laptop

[2019-03-21 16:47] KrisThielemans opened #15 "profile location in image_creation_and_simulation is wrong"
profiles go through a slice with activity. this would work better
[code]

[2019-04-11 07:54] KrisThielemans commented on #8
was fixed ages ago

[2019-04-11 07:54] #8 closed

[2019-04-11 07:59] KrisThielemans opened #20 "git merge conflicts due to python 2 vs 3"
We use `nbstripout` to prevent conflicts due to notebook output, and to prevent output to be commited. Sadly, we still have conflicts when a notebook is commited with one Python version but run with another. Example:
[code]
looks harmless but
[code]

[2019-04-11 08:10] KrisThielemans opened #21 "download_MR_data.sh re-downloads PTB_ACRPhantom_GRAPPA.zip"
running `download_MR_data.sh` twice results in
[code]
The script should probably use the `download` function, like the others

[2019-04-11 08:18] casperdcl commented on #20
I actually submitted a PR to nbstripout to address this ages ago

[2019-04-11 08:18] casperdcl commented on #20
https://github.com/kynan/nbstripout/pull/92

[2019-04-11 08:23] #10 closed

[2019-04-11 08:28] KrisThielemans opened #22 "should not extract downloaded data into SIRF/data/examples"
Running `download_*sh` puts symbolic links in `SIRF/data/examples` resulting then in `git` saying the `data` folder has changed (always tricky with submodules).

It would be better to just put this somewhere else, and then adapt the relevant demos.

[2019-04-11 08:32] KrisThielemans commented on #20
ah. too bad they didn't accept it yet.

I guess for now we'll just have to reopen with python2 and recommit.

[2019-04-11 08:34] KrisThielemans commented on #20
any suggestions on how to do that (possibly have to remove `nbstripout` first?)

[2019-04-11 08:34] casperdcl commented on #20
no, they accepted it fine. Sorry i seem to have implied it was still open

[2019-04-11 08:35] KrisThielemans commented on #20
ah. not yet on `pip`?

[2019-04-11 08:35] casperdcl commented on #20
`nbstripout>=0.3.4`

[2019-04-11 08:36] KrisThielemans commented on #20
[code]

[2019-04-11 08:39] casperdcl commented on #20
you'll also have to do (at least once):

[code]

[2019-04-11 08:43] johannesmayer commented on #21
Yeah the `download` function has these `if` loops asking about `md5sum` of the file but that fails for the dataset I uploaded to Zenodo. Unforunately I didn't know I had to add any of those to the dataset.

[2019-04-11 08:48] KrisThielemans commented on #20
That seems to have worked. thanks!

Could you maybe add this to the instructions here, but also in https://github.com/CCPPETMR/CCPPETMR_VM/blob/master/scripts/UPDATE.sh

or ask for help from someone else...

[2019-04-11 08:51] KrisThielemans commented on #21
First compute it:
[code]
Then update the script.

[2019-04-11 08:58] casperdcl commented on #20
@paskino FYI I just updated the VM repo

[2019-04-11 09:02] KrisThielemans commented on #21
great! Please update https://github.com/CCPPETMR/SIRF-Exercises/blob/master/INSTALL.md as well? Thanks!

@paskino, due to our current `UPDATE.sh` which doesn't use a tag for CCPPETMR_VM,and it's a tiny update, there's no reason to make a new VM for that reason only.

[2019-04-11 09:08] johannesmayer commented on #21
Just to be sure: If you run the `download_PET_data.sh` script twice it also asks you if you want to replace the files when you unzip them!

Should I force an overwrite using `unzip -o ${filename}`?

[2019-04-11 09:11] KrisThielemans commented on #21
good idea

[2019-04-11 10:37] rijobro commented on #21
@johannesmayer just seen the diff from your PR, does that mean this is solved (commit ccc9e2a0e7bc410d4a4ce3d25b74086bcd94390d)?

[2019-04-11 10:44] johannesmayer commented on #21
Yes I think so.
Running it the first time will download the files and unzip them if necessary.
Running it twice will not download it again if it's already there and will unzip and overwrite what is already in the data folder without asking the user.

[2019-04-11 12:26] KrisThielemans commented on #21
adressed in #23

[2019-04-11 15:18] KrisThielemans commented on #15
@rijobro, can you check this?

[2019-04-11 15:34] rijobro commented on #15
Current profile looks like this:
![image](https://user-images.githubusercontent.com/33289025/55970525-9a3c0880-5c77-11e9-91a6-71cd126078be.png)

[2019-04-11 20:50] KrisThielemans commented on #20
~casperdcl, the files now after #24 still contain `kernelspec` still giving conflicts unfortunately. feel like correcting it? Could you also say how we correct it?

Does a `git pull` after correcting it resolve everything, or do we need a new clone?

[2019-04-12 16:37] casperdcl commented on #20
fixed again. I was filtering out `kernel_spec` rather than `kernelspec`.

[2019-04-12 16:39] casperdcl commented on #20
@KrisThielemans in case you want to know:
[code]

[2019-04-12 17:17] KrisThielemans commented on #20
thanks Casper. So I guess @johannesmayer will have to run this on #25 before merging? (or we could do it for him). (as the `git config` isn't a hookon github, but one installed locally).

I'm just not 100% sure what this does if you then do a `git commit` with `nbstripout` installed. I'd imagine that it doesn't do anything at all then. So my guess is
[code]
correct?

[2019-04-12 22:21] KrisThielemans commented on #20
On second thought, I agree that this is uninstall/reinstall is not necessary. As far as I can see, here's how this works:
1. we do the nbstripout to cut out some fields
2. we do a commit, which will first do the nbstripout with all the fields configured before passing it on to git

As far as I can see, the first step is only there to make sure that git thinks the file is modified.
So now I think t

[2019-04-12 22:30] KrisThielemans commented on #20
@casperdcl, here's an illustration of my struggles, despite all this.

My local SIRF-Exercises is at ba34dd4af4d0f2e0928bb87e14389b5849364d65. Due to whatever happened before, I have 2 "changed" files
[code]
However, the changes are "irrelevant":
[code]
(i.e. there's no diff after `nbstripout`). Nevertheless
[code]
`git reset --hard` doesn't help, as the files remain as they were. The only way tha

[2019-04-12 23:54] KrisThielemans commented on #20
Also, I suspect that @DANAJK's observation that github no longer displays our notebooks nicely is probably because we stripped a bit too much. That's not a show-stopper, but a bit sad.

[2019-04-13 08:51] casperdcl commented on #20
@KrisThielemans

- sounds like you need `nbstripout --uninstall` before `git reset --hard`. Maybe should open an issue on the nbstripout repo realted to this?
- I don't know if github ever would've displayed those images properly regardless of stripping - would be nice to confirm.

[2019-04-13 08:54] KrisThielemans commented on #20
sorry. ignore my comment. I thought I saw some notebooks displayed in raw format, but it seems fine now.

[2019-04-14 12:24] KrisThielemans opened #26 "corrections to d_undersampled_Recon"
- "This looks like our thang!" misspelling
- E^H formula should not divide by coil-sensitivity sum
- conjugate gradient algorithm Hint 0 should be b=E^H y
- misspelling "quanitity"
- misspelling "intialize p" in the answer of "Initialize Iterative Reconstruction"

[2019-04-16 20:53] KrisThielemans commented on #15
@rijobro, please change to a profile that shows the effect of attenuation more closely.

[2019-04-16 20:54] KrisThielemans commented on #26
all fixed? If so, please close.

[2019-04-16 20:54] KrisThielemans commented on #21
closed by #23

[2019-04-16 20:54] #21 closed

[2019-04-16 20:56] KrisThielemans commented on #5
close as py2ipnynb works fine

[2019-04-16 20:56] #5 closed

[2019-04-16 21:51] KrisThielemans commented on #20
summary of status:
- we need `kernelspec.name` and `.display_name` as otherwise jupyter complains about invalid notebook. If a given name doesn't exist on your system, that's ok as jupyter will try to find a kernel based on `kernelspec.language` (which is `python`). However, git will then see changes, and if you commit, it'll create trouble.
- git refusing to merge seem almost unavoidable. Scenari

[2019-05-10 08:26] KrisThielemans commented on #15
@rijobro, was this done?

[2019-05-10 08:34] KrisThielemans commented on #26
Closed with https://github.com/CCPPETMR/SIRF-Exercises/commit/1a63aaa0319538fd2b347dbf6c3b380fea65a24a#diff-8e740ac5c924778825a54cd512faf3e8

[2019-05-10 08:34] #26 closed

[2019-05-10 09:08] rijobro commented on #15
fixed with 6a6a25c1d1aabfac590372658d6b3d755338cf6a

[2019-05-10 09:08] #15 closed

[2019-05-12 20:33] KrisThielemans opened #29 "old MR notebooks have multiple problems"
The older notebooks (not those in the interactive folder) were stripped too much and we get an error when opening them (see the process in #20).

They also need changing of `petmr_data_path(...)` with `examples_data_path('MR')`.

However, I suspect that the notebooks in https://github.com/CCPPETMR/SIRF-Exercises/tree/master/notebooks/MR shouldn't really be there anymore and are superseded by those

[2019-05-14 15:40] paskino commented on #29
I was in the process of testing the notebooks.
I fixed the notebooks in `MR` https://github.com/CCPPETMR/SIRF-Exercises/pull/30

Except from [this](https://github.com/CCPPETMR/SIRF-Exercises/blob/master/notebooks/MR/Gadgetron/fully_sampled_recon_three_chains.ipynb) the others seem to work.

[2019-05-15 10:06] KrisThielemans commented on #29
what's the problem with the remaining one?

[2019-05-23 07:21] KrisThielemans opened #31 "fully_sampled_recon_three_chains fails"
Same problem as https://github.com/CCPPETMR/SIRF/issues/293

[2019-05-23 07:22] KrisThielemans commented on #29
I've created a separate issue for the remaining problem. https://github.com/CCPPETMR/SIRF-Exercises/issues/31

[2019-05-23 07:23] #29 closed

[2019-05-23 07:30] KrisThielemans commented on #31
Fixing the `ExtractGadget` is going to be hard. I suggest we comment it out and do instead
[code]

[2019-05-31 13:39] evgueni-ovtchinnikov commented on #31
Found bugs in ExtractGadget, created Gadgetron issue #743.

I feel the workaround applied was not a good idea - we no longer have three chains, so the name of the demo is confusing, and the single chain demo is still affected by one of the bugs (the first one in #743) anyway.

[2019-07-23 11:38] bathomas opened #33 "Change URLs for MR data"
Both:

https://github.com/CCPPETMR/SIRF-Exercises/blob/2e52fb8071bb401bdb113a6b542474d9e717b091/scripts/download_MR_data.sh#L49

and

https://github.com/CCPPETMR/SIRF-Exercises/blob/2e52fb8071bb401bdb113a6b542474d9e717b091/scripts/download_MR_data.sh#L57

should be changed to not rely on DropBox.

[2019-10-08 13:55] bathomas commented on #33
What seems like throttling from Dropbox slows/stops machine builds for Azure.

[2019-10-29 17:18] evgueni-ovtchinnikov opened #36 "reconstruct_measured_data notebook throws error in section Add attenuation modeling"
reconstruct_measured_data notebook throws error in section Add attenuation modeling:
[code]

[2019-10-29 17:36] KrisThielemans commented on #36
yes indeed! The mu_map is 1mm shifted
[code]
It was silently ignored in the previous version of STIR.

Seems that we'll have to patch the .hv file. oh well.

thanks for checking!

[2019-10-31 07:42] KrisThielemans commented on #36
this should be fixed on SIRF master now. The `mu_map.hv` comes from the `data` submodule. Unfortunately this means that either we release a new SIRF rc, or we patch the file up in the `download_PET.sh` script (but I believe this might then create trouble with future update_VM calls.

@evgueni-ovtchinnikov can you please check if it works with SIRF master? you will have to
[code]

2 other notes:
-

[2019-10-31 09:49] evgueni-ovtchinnikov commented on #36
works now!

other demos were ok as they did not read attenuation image from file

[2019-11-01 22:16] KrisThielemans commented on #33
closing as this is now only for the "old" notebooks which we're normally not using

[2019-11-01 22:16] #33 closed

[2019-11-01 22:17] KrisThielemans commented on #12
I believe this is done

[2019-11-01 22:17] #12 closed

[2019-11-05 15:11] KrisThielemans opened #37 "ML_reconstruction still uses num_iters"
should be num_subiters

[2019-11-05 15:11] KrisThielemans commented on #37
don't fix this during the course...

[2019-11-06 10:54] casperdcl opened #40 "missing modules"
these need to be pip installed (maybe add a requirements.txt)

- brainweb>=1.5.1 #48
- nibabel
- numba
- tqdm #41

[2019-11-07 14:54] casperdcl commented on #22
should also not download to ~/data which is often destroyed... Ideally should be able to specify download to e.g. `/devel/data` in docker containers

[2019-11-21 14:17] paskino opened #41 "some notebooks require tdqm"
Some notebooks import `tdqm`, but that's not installed on the VM by default.

[2020-04-06 21:06] casperdcl opened #43 "Transition to SynerBI"

[2020-06-04 08:52] KrisThielemans commented on #43
repo has transitioned. We could update header of all the notebooks, but I suggest we do that as we go.

[2020-06-04 08:52] #43 closed

[2020-06-04 09:08] KrisThielemans opened #44 "registration demo question"
Just tried with 2.2.0-rc.1 VM.

The registration demo works, but it seems a bit strange. Initial display of images is
![image](https://user-images.githubusercontent.com/6362141/83737100-7c372180-a64a-11ea-83e3-bd36fe136764.png)
Registered images is indeed
![image](https://user-images.githubusercontent.com/6362141/83737197-94a73c00-a64a-11ea-9f21-d38b51a3bb4b.png)
So, it seems to have rotated it co

[2020-06-04 09:35] KrisThielemans opened #45 "Can no longer install numba with python 2"
The synergistic demos use brainweb, which starts by using `pip install numba`. That now fails:
[code]
Also seen here https://stackoverflow.com/questions/61925676/can%c2%b4t-install-numba-for-python with a comment "try a new version of Python".

Is there a work-around? Do we need numba or can we make it optional (without a lot of work).

This is currently a problem as our VM is still stuck on Pytho

[2020-06-04 09:44] KrisThielemans opened #46 "synergistic/BrainWeb-single_slice_motion.ipynb fails on python 2 due to os.makedirs"
code is
[code]
This fails on Python 2 as `exist_ok` didn't exist (...). However, it seems unnecessary as we check existence first.

[2020-06-04 09:48] casperdcl commented on #45
I think `numba` is a leftover from some performance hacks @rijobro was trying - looks like it can be removed.

[2020-06-04 09:53] KrisThielemans opened #48 "Brainweb-single_slice_motion problems"
Images loaded look like this
![image](https://user-images.githubusercontent.com/6362141/83742214-0f735580-a651-11ea-9a81-b6d458e43b32.png)
Motion states and sinos look empty.

It uses `resampler.process` which in this case should be replaced by `forward`

[2020-06-04 09:56] KrisThielemans commented on #46
same for Brainweb

[2020-06-04 09:58] KrisThielemans commented on #48
same for `Brainweb` notebook

[2020-06-04 09:59] rijobro commented on #45
yeah, it looks like it wasn't actually being used in the notebook. It is, however, used in a few others (but not `pip` installed):

- https://github.com/SyneRBI/SIRF-Exercises/blob/master/notebooks/Synergistic/de_Pierro_MAPEM.ipynb
- https://github.com/SyneRBI/SIRF-Exercises/blob/master/notebooks/Synergistic/Solutions/Dual_PET_Answer-noMotion.ipynb
- https://github.com/SyneRBI/SIRF-Exercises/blob/

[2020-06-04 10:00] KrisThielemans opened #50 "de_Pierro_MAPEM.ipynb refers to non-existing notebook"
It instructs to run the `generate_data` notebook but that no longer exists

[2020-06-04 10:05] rijobro commented on #48
@casperdcl is this related to https://github.com/casperdcl/brainweb/issues/1?

[2020-06-04 10:08] KrisThielemans commented on #45
Serves us right from not upgrading to Python 3. @paskino, this will have to be a priority after 2.2 (unless it's a matter of dropping in ubuntu 20.04, but that seems unlikely!)

I suggest to move the `import numba` to a new cell, but commented out, saying that they can uncomment it and subsequent `@jit` lines if they have python3 (and numba).

[2020-06-04 10:09] casperdcl commented on #48
:eyes: looks like it; never been able to reproduce this - would be great if you can. Are you running this on windows?

[2020-06-04 10:11] casperdcl commented on #45
How much of a speedup does it really give in those notebooks? May just be better to leave it out...

[2020-06-04 10:11] KrisThielemans commented on #48
This is on our new VM (ubuntu 18.04, but python 2).
https://zenodo.org/record/3874226#.XtgnuGhKh6o

[2020-06-04 10:24] casperdcl commented on #48
Ooh nice. Will try to reproduce... Which ova? 2.0, 2.1, or 2.2-rc.1?

[2020-06-04 10:25] KrisThielemans commented on #48
2.2-rc.1. I'm not sure what happens with the previous ones (but should have been fine)

[2020-06-04 10:41] rijobro commented on #48
Blank with python2, normal with python3 if that helps narrow things down for you.

[2020-06-04 11:21] rijobro commented on #45
Comment from a notebook says

So I'm inclined to comment it out rather than delete.

[2020-06-04 11:48] rijobro commented on #44
Looking into it, the two images have vastly different `qto_ijk` matrices:

[code]
it looks like the first is RAS, whilst the second is LSI.

`as_array` just returns the floating array as-is, leading to the rotation in the visualisation. And all the translations come out by adding/subtracting the translation column.

This comes back to the bigger question we've had a few times over what `as_array`

[2020-06-04 12:28] rijobro opened #52 "Cropping with SIRF <= v2.1.0"
The following was in this notebook as a workaround for older versions of SIRF: https://github.com/SyneRBI/SIRF-Exercises/blob/master/notebooks/Synergistic/BrainWeb.ipynb

I don't really want it in that notebook, so I'll move it here, close the issue and point that notebook to here.

## Cropping with SIRF <= v2.1.0

`zoom_image` and `move_to_scanner_centre` didn't exist prior to SIRF v2.1.0. If you

[2020-06-04 12:28] #52 closed

[2020-06-04 12:41] casperdcl commented on #48
fixed in `brainweb>=1.5.1`

[2020-06-04 13:17] #50 closed

[2020-06-04 13:30] #45 closed

[2020-06-04 13:30] #46 closed

[2020-06-04 13:44] KrisThielemans commented on #44
ok

I still think "as-is". Otherwise performance penalty will be terrible.

I'm reluctant to do that for a few reasons: we need to touch the data submodule, we have a risk, it actually might create trouble, and (most importantly) this is a real world problem, so having the demo cope with this is actually nice.

Do we have an (easy) way to "standardise" the orientation? In that case I would display

[2020-06-04 14:08] rijobro commented on #48
Sure?

![image](https://user-images.githubusercontent.com/33289025/83767143-2a57c100-a675-11ea-899d-7eec2b8dba04.png)

![image](https://user-images.githubusercontent.com/33289025/83767166-33e12900-a675-11ea-8184-623a1dc9f059.png)

[2020-06-04 14:10] rijobro commented on #48
ah, it was reusing pre-downloaded data. deleted the working folder and it seems to be working.

[2020-06-04 14:25] #48 closed

[2020-06-04 14:26] casperdcl commented on #41
probably best to merge this issue with #40

[2020-06-04 14:28] rijobro commented on #44
I'm not sure that's true.

The displacements do look confusing. But I suspect they're correct, since they mostly encode a translation (the `cmap` has a relatively small range that agrees with the translation column of the TM). According to the TM, there is a rotation of ~10 degrees, so I suspect that this is the source of the variation in the displacement values.

To test, I created a new resample

[2020-06-04 19:46] KrisThielemans commented on #44
At the moment, `as_array` is a straightforward copy. if we reorient, it's going to be a bunch of nested loops. Also, it is conceivable that we could avoid the copy in the future but passing the pointer (fun questions about ownership etc, but apparently solvable, e.g. via XArray).

[2020-06-04 20:11] rijobro commented on #44
I'm afraid not (on the `NiftiImageData` side):

https://github.com/SyneRBI/SIRF/blob/913b422d0f32852bcd421115de37f2fdd9be0b41/src/Registration/cReg/cReg.cpp#L303-L311

I don't believe this to be anywhere near our bottlenecks in terms of timing.

Also, I guess the permute could happen on the python/matlab side.

[2020-06-05 15:02] KrisThielemans commented on #44
fine. Maybe Nifti doesn't just copy the data, but that loop could be optimised at some point. Or indeed we give up on having "time" in a certain way as well. I still think we shouldn't pretend to the user that the file-order problem doesn't exist. (If they read themselves using some other tools, they have to be aware of this anyway). (By the way, I wouldn't see why a permute on the python/matlab s

[2020-06-05 15:38] #37 closed

[2020-06-07 20:16] DANAJK commented on #44
Without seeing this issue, this demo is confusing to the user  - there is both a rotation and flip that don't appear in the transform matrix. I suggest at least a text explanation in the demo.

[2020-06-07 20:21] DANAJK opened #54 "MR-joint-TV demo needs fixing"
At least running via Docker, this demo seems to be missing a directory:

[code]

[2020-06-07 21:06] DANAJK opened #55 "BrainWeb-single_slice_motion Displayed images are cropped before cropping"
Displayed images look the same after cropping - in fact the images before cropping are cropped for presentation! - bit confusing.

[2020-06-08 08:35] rijobro commented on #44
@DANAJK good point. @KrisThielemans perhaps after all, the simplest thing is to update the data submodule?

[2020-06-08 08:38] rijobro commented on #44
Or as @DANAJK says, maybe I should just improve the explanations. You're right @KrisThielemans that this is a real-world problem, so there might be some merit in explaining/printing the qto_xyz matrix, etc.

[2020-06-08 08:46] KrisThielemans commented on #44
I think this is a real world problem, so no point in hiding it by giving it clean data.

Can you check what happens if you call the resampler with an ID transform? I'm guessing this will put all data in the same order, and then display is nice. If so, I'd
1. display images as is
2. print geom-info and discuss rotation and (serious) translation between those 2.
3. call resample with ID transform an

[2020-06-08 08:58] rijobro commented on #44
Calling the resampler with an identity transform would result in matching qto_xyz matrices, but the two images don't occupy the same space (large transform), so the resampled image would be filled with zeroes, as the brain would be out of the field of view.

[2020-06-08 09:06] DANAJK commented on #44
I agree it's real-world so don't hide. You might want to give either the files or the variables in the demo names that draw attention to the different way the underlying data is stored. I think that printing the qto_xyz with a short explanation of how this shows one is LPS and the other is something else would be good.

If you want to go further, you can probably figure out the dominant direction

[2020-06-08 09:13] KrisThielemans commented on #44
Probably best to add some comments and printing of geom info only at the moment, and keep the issue open to fix properly later.

Caveat: Is `TM` in LPS, or is it in RAS? I'm hoping geom-info is in LPS. If `TM` is still in RAS, say so in a line, and raise a SIRF issue for 3.0.

[2020-06-08 09:18] KrisThielemans commented on #54
good spot. In fact, this demo is currently still broken, as it says.  It's probably not a bad thing that it fails at the start, as the algorithm is wrong anyway...

I guess that we could fix it with new CIL (@paskino is that correct?).  But we don't have data for it at present either I believe, which is why we downloaded it during the exercise from Johannes somewhere. @johannesmayer, could you con

[2020-06-08 09:20] KrisThielemans commented on #44
@rijobro I'm assuming that this therefore won't need fixes in SIRF 2.2, and we can go ahead with tagging that? Will postpone tagging SIRF-exercises until this is adjusted (and others at https://github.com/SyneRBI/SIRF-Exercises/milestone/3).

[2020-06-08 09:23] rijobro commented on #44
Confusingly, the geom info TM (SIRF) is LPS, whereas the qto_xyz TM is RAS, since it's just a wrapper around the nifti object.

Ok to go ahead with tagging SIRF, I'll improve the explanations in this exercise later today.

[2020-06-08 11:33] KrisThielemans commented on #54
updated in c9380fe65ecd44eefec62b7a3b25a13a6ffa0b5d.

I will keep the issue open to remind us to fix this later.

[2020-06-08 15:17] #44 closed

[2020-06-16 16:15] evgueni-ovtchinnikov opened #57 "HKEM_reconstruction notebook dies at step In[7]"
HKEM_reconstruction notebook kernel dies at step In[7] (section Study parameter "neighbourhood size", n)

[2020-06-23 17:13] danieldeidda commented on #57
#42 pull request should fix this.

[2020-09-11 20:49] mscipio commented on #54
Even though this notebook is not yet functional, I was trying to take inspiration from the idea of a regularized MR reconstruction to build a separate test case.
However, when at the point of defining Gradients, it seems that the current version of `ccpi` does not ship with a method called :
[code]

If I try to replace it with the only other option available:
[code]
I get the following error:
![im

[2021-01-01 21:38] DANAJK opened #59 "sirf_registration notebook example"
1.) When run in Jupyter from Docker, uses Python 2 and hence the `print` statements are ugly (though readable).

2.) Clarity: Does the 1 in this statement `get_dimensions()[1]` refer to the first dimension? I thought python labeled the first dimension as 0? Oh, and python throws in another bit of confusion by putting the slice in this dimension.
My point is that to anyone not versed in the quirks

[2021-03-04 14:08] KrisThielemans commented on #54
@paskino @epapoutsellis @gemm can you remind us what the current status is of the gradient operators?

[2021-03-04 17:08] rijobro commented on #59
1. Sorry not sure how to help on that one. Is it possible to use python3?

2. Since it's a `NifttImageData`, the nifti convention is used here, in which the dimensions contain 7 values: `[ndim, nx, ny, nz, nt, nu, nv, nw]`. So here we used `get_dimensions()[1]` to get the number of voxels in the x direction. You're right that none of this is explained in the notebook and should probably be added.

[2021-03-04 20:00] epapoutsellis commented on #54
For CIL objects, please use `from cil.optimisation.operators import GradientOperator`.
For SIRF objects I had a `GradientSIRF` implementation which I cannot find atm. Maybe @paskino knows.
The other option is to use an [`FGP_TV`](https://github.com/vais-ral/CCPi-Framework/blob/master/Wrappers/Python/cil/plugins/ccpi_regularisation/functions/regularisers.py#L71) solver, where the gradient is comput

[2021-03-08 13:12] KrisThielemans commented on #54
@Pakino wrote

[2021-04-14 07:58] KrisThielemans opened #60 "overview of folder structure"
We need an overview of where everything is, and where to start.

@DANAJK you suggested to have this in a notebook. I think I'd prefer to have it part of the README (potentially splitting that up in several notebooks). You can open those in the `jupyter` interface with reasonable formatting (although sadly links etc don't work). What do you think?

We could have both of course. Maybe update frequen

[2021-04-14 20:47] DANAJK commented on #60
Did I? I agree it is better to have the folder structure information in a readme.
I think I suggested a notebook to help with dimensions and geometry.

[2021-04-15 06:50] KrisThielemans commented on #60
ok. There's https://github.com/SyneRBI/SIRF-Exercises/blob/master/notebooks/Introductory/introduction.ipynb, but it doesn't talk about geometry, dimensions nor MR.

[2021-04-15 06:52] KrisThielemans opened #61 "expand introductory notebook(s)"
We have 'https://github.com/SyneRBI/SIRF-Exercises/blob/master/notebooks/Introductory/introduction.ipynb, but it doesn't talk about geometry, dimensions nor MR.

[2021-04-15 06:53] KrisThielemans commented on #60
created #61 for the latter. So this issue can be resolved by expanding `README`

[2021-04-15 11:36] KrisThielemans commented on #57
#42 is merged

[2021-04-15 11:36] #57 closed

[2021-04-15 11:40] AnderBiguri opened #62 "Registration notebook "missing features""
Just writing up somewhere what I feel is missing from the registration notebook.

# Registration

Currently, while quite detailed exercise, it only has rigid transformation.
It has a comment that says `# Set to NiftyF3dSym for non-rigid`, but I fear that may not be enough as a "tutorial" if that is what we are looking for. Particularly `set_parameters()` is quite different (and not documented) and

[2021-04-15 17:54] Ede1994 opened #63 "SIRF VM: Error msg in reconstruct_measured_data.ipynb (PET)"
In the notebook 'reconstruct_measured_data.ipynb' (PET notebooks) I get the error:

error: ??? "'Error opening file template.hs\\n' exception caught at line 303 of /home/sirfuser/devel/buildVM/sources/SIRF/src/xSTIR/cSTIR/cstir.cpp; the reconstruction engine output may provide more information

after: lm2sino.set_up()

All the other notebooks went through without any problem.
Executed within Virtu

[2021-04-19 11:24] ashgillman opened #64 "Enable @jit?"
Now that we're Python 3, we could install numba and enable @jit by default.

Do we want this?

[2021-04-19 11:27] ashgillman opened #65 "New Notebook: Multimodal project and backproject?"
I proposed this in Monday's meeting - do we want this?

Happy to help out here. Depends on <insert PR for @ckolbPTB for introductory BrainWeb notebook>

[2021-04-19 11:28] KrisThielemans commented on #64
could be useful in a few judicious place.

[2021-04-20 08:09] danieldeidda opened #66 "display_and_projection: remove image processing"
Basic image manipulations section should go in the introductory part

[2021-04-20 08:12] danieldeidda opened #67 "reconstruct_measured_data: scatter is missing"
this shows how to read data from mMR and perform correction estimation. This is very useful to whoever wants to start with SIRF and reconstruct real data. However scatter is missing

[2021-04-20 08:17] danieldeidda opened #68 "ML_reconstruction: separate gradient ascent and remove simulation part"
gradient ascent should be a separate notebook;
also the notebook start with a simulation which I believe we are going to move to the introductory folder, and the notebook should just call the simulated data

[2021-04-20 08:26] danieldeidda opened #69 "MAPEM: adding different non-guided priors?"
We discussed including different priors, I guess it would make sense to have them as part of this notebook. I guess the quadratic is always a good starting point and then we could have more interesting one like relative difference, logcosh? We could even give the function and the exercise would be to implement it

[2021-04-20 08:42] danieldeidda opened #70 "BrainWeb: forward project data with tumour (more interesting to use)"
The tumour insertion is an extra in this notebook. However, since all the synergistic recon depend on this output it would be more interesting to save the data and use that for the synergistic  notebooks:

something like this should do:
#Forward project FDG image with tumour
umap_small=pet.ImageData('uMap_small.hv')
am = get_acquisition_model(umap_small, templ_sino)sino_tumour_FDG = am.forward(pet

[2021-04-20 08:49] danieldeidda opened #71 "HKEM: currently too long"
At the moment it focuses on how to investigate the effect of parameters.  This means many reconstructions.
Difficult to modify  in terms of coding since we just call the KOSMAPOSL reconstructor.

to make it quicker:
remove all the KEM reconstruction and dedicate a cell on the differences between HKEM and KEM
reduce amount of different paremeter choices
reduce number of iterations
increase subsets

[2021-04-28 07:15] KrisThielemans opened #77 "add requirements.txt"
We need to preinstall some Python packages, see also https://github.com/SyneRBI/SIRF-Exercises/pull/76#issuecomment-827805531

- [x] add requirements.txt
- [x] modify documentation
- [ ] in our docker files, check if it exists and use it
- [ ] in VM files, check if it exists and use it

[2021-04-28 20:01] KrisThielemans commented on #77
actually this is an almost duplicate of #40

[2021-04-30 08:25] #61 closed

[2021-04-30 08:25] #65 closed

[2021-04-30 11:46] #40 closed

[2021-04-30 12:47] ashgillman commented on #77
NB: First two are ticked off here, but Docker and VM are TODO

[2021-05-04 07:36] DANAJK opened #80 "examples_data_path on Jupyter in Docker"
Adding a `print` to the MR notebook `a_fully_sampled`

[code]
gives
`/opt/SIRF-SuperBuild/INSTALL/share/SIRF-2.2/data/examples/MR` and you later get the error

`'File ptb_resolutionphantom_fully_ismrmrd.h5 not found'`

This file is here on my system
`.../SIRF-SuperBuild/docker/devel/PTB_ACRPhantom_GRAPPA/ptb_resolutionphantom_fully_ismrmrd.h5`

[2021-05-04 10:04] KrisThielemans commented on #80
Interesting. This is due to
https://github.com/SyneRBI/SIRF-Exercises/blob/7327df5a0c4456930e1820b49124636c4b6ee8cc/scripts/download_MR_data.sh#L65-L66
The same problem will exist for the PET data
https://github.com/SyneRBI/SIRF-Exercises/blob/7327df5a0c4456930e1820b49124636c4b6ee8cc/scripts/download_PET_data.sh#L68
Also related is #22, which I think is the best solution.

[2021-05-04 10:17] KrisThielemans commented on #77
Closing as new issues created

[2021-05-04 10:17] #77 closed

[2021-05-05 00:53] ashgillman commented on #22
I think they could be downloaded to a directory within this repo that we .gitignore?

Also needs to be updated for BrainWeb in the synergistic folder.

I'm happy to take this, but I have limited time this week and next due to a disrupted schedule. Does SIRF-Exercises 3.0 need to be released at the same time as SIRF?

[2021-05-05 04:31] ashgillman commented on #22
(i.e., if there is some flexibility please assign me)

[2021-05-17 19:31] KrisThielemans commented on #22
@ashgillman I think @evgueni-ovtchinnikov hasn't had time for this yet. If this is something you could tackle today or so, maybe it'll help him.

[2021-05-18 06:04] ashgillman commented on #22
Sure, I'll have a look now. But I'm still not sure we've agreed on an ideal location? I'm no longer convinced my suggestion to load into the SIRF-exercises is a good idea.

I don't like the idea of where it is now, being the install location. It should be a user-accessible location by default.

A pretty common pattern would be `~/.<appname>/...`, so `~/.sirf-exercises/share/` or `~/.sirf/share/`,

[2021-05-18 07:34] KrisThielemans commented on #22
Note that there are actually 2 places that we are talking about
- where the zip files get downloaded (easily configurable by using an argument to the scripts, [defaulting to `~/data``](https://github.com/SyneRBI/SIRF-Exercises/blob/8203077840b1667719467f0d8c6b009625e8f27d/scripts/download_PET_data.sh#L42)
- where it gets extracted (i.e. the main topic) (currently hardwired in the script AND the ex

[2021-05-18 08:17] ashgillman commented on #22
Defaulting the download itself to something like `/tmp` might make sense.

The small problem with `SIRF-exercises/data` is its a little bit more delicate. In notebooks, would we use `../../data/...`? Then if they are moved they have to change - not a terrible sacrifice though.

[2021-05-18 08:27] ashgillman commented on #22
But we don't supply that mechanism right? You want simple - no environment variable lookup?

[2021-05-18 09:39] DANAJK commented on #22
In a Notebook using the Docker container, from the Files menu, the user only sees the contents of the container's `/devel` folder, so the data needs to be there or below. e.g. in `/devel/data` or /`devel/SIRF-Exercises/data`
It is possible to open a terminal from Jupyter and run unix commands like `ln` (say if you wanted to have a symbolic link to `/tmp`), but that might be overcomplicated.

If yo

[2021-05-18 09:42] DANAJK commented on #22
Oh, one other point, the terminal from Jupyter has a horrible command prompt that appears after every command:
[code]

[2021-05-18 09:46] KrisThielemans commented on #22
could be ok, but I'm not too bothered about that. We can say easily to the user that it default to `~/data` but it's up to them to decide (could recommend `/devel/data` if on Docker)

I think that's ok for now. Simplicity is better

yes please.

[2021-05-18 10:14] paskino commented on #22
I'm looking into this:

1. the download scripts are bash scripts that can't be executed from Windows
2. the download scripts have a default download location `~/data` that can be changed
3. the download scripts currently create symlinks to the data in the SIRF source directory (in the build)

I was looking into having the location of the data available just to the exercises with a syntaxis like

[

[2021-05-18 10:36] ashgillman commented on #22
Do they need to be ported, e.g., to Python?

I don't like this - it seems to me that that download directory is temporary. I think they should be downloaded directly to the location. There can be a cleanup step if needed to remove zip and md5 files.

I wondered about this, but I'm not sure its worth the additional infrastructure considering each is 3 lines of code - see https://github.com/SyneRBI/

[2021-05-18 10:56] paskino commented on #22
Yes, we could create symlinks and store them in github. This poses a problem with filesystems where symbolic links aren't available.

But then, there's not a big difference with the bash scripts.

[2021-05-18 12:45] KrisThielemans commented on #22
this seems to be escalating a bit too much. Please stick to a simple solution now (no symlinks, no makor redesign).

we could have a `common` folder, but I suggest to add it explicitly to the path for notebooks that need it.

good luck!

[2021-05-18 16:39] paskino commented on #22
@ashgillman and I are working together at a solution on #82 and https://github.com/ashgillman/SIRF-Exercises/pull/1

[2021-05-19 04:58] ashgillman opened #83 "Download bash scripts are Unix-only - no Windows support"

[2021-05-20 08:44] ashgillman opened #84 "Working directory for each notebook to keep temporary files separate from input"
Per discussion in Devel meeting

[2021-05-20 09:44] #22 closed

[2021-05-20 10:07] ashgillman commented on #80
This should be fixed right?

[2021-05-20 21:34] KrisThielemans commented on #80
I guess so. Travis is building some new docker images at the moment. Would be good to give them a spin to check...

[2021-05-21 17:53] KrisThielemans opened #87 "convertSiemensInterfileToSTIR.sh doesn't exist"
It turns out this [only gets installed when `STIR_BUILD_EXECUTABLES=ON`](https://github.com/UCL/STIR/blob/42240decc608f18a2ad89f462309b5baa47c86cf/scripts/IO/CMakeLists.txt#L24-L26).

This is unfortunate... I guess we either copy it by hand somehow, or I release a new STIR version. Sigh.

[2021-05-21 17:53] KrisThielemans commented on #87
@ashgillman any other ideas?

[2021-05-21 19:32] KrisThielemans commented on #87
I've added a line in https://github.com/SyneRBI/SIRF-Exercises/commit/bb54d3c837da946c7031972ade0ffa089ba78eff. I guess this might resolve it

[2021-05-22 10:40] paskino opened #88 "e_advanced_recon.ipynb"
data path in `e_advanced_recon.ipynb` is not correct. Requires:

[code]

Also this block is wrong because `bwd_img_arr` is 3D.

[code]

[2021-05-23 07:37] KrisThielemans opened #89 "remaining issues with exercises_data_path"
PET notebooks generally do the following
[code]
However, this means they are creating the `working_folder` in the `examples_data_path` as opposed to the `exercises_data_path`.
Best to change to
[code]

[2021-05-23 07:40] KrisThielemans commented on #89
In addition, the `chdir` has the consequence that if the user executes the `import` statements again, python complains about `exercises_data_path` not being found.

I therefore now favour my original solution : at the start of the notebook, do
[code]
We could later also add the current directory to the path, such that `PET` or `MR` could have their own scripts.

This approach also means that we do

[2021-05-23 07:43] KrisThielemans commented on #89
Or possibly better would be set it up such that we should do
[code]

[2021-05-23 07:48] KrisThielemans commented on #89
Also confusing is that `exercises_data_path` is a string, while `examples_data_path` is a function (to be called with arg `PET` for instance). I think better to follow the latter's strategy

[2021-05-23 08:22] KrisThielemans commented on #89
hmmm. we do allow `download_data.sh` to use a different location, so we need to tell Python where it is...

[2021-05-23 08:38] KrisThielemans commented on #88
The latter error is because the notebook uses the csm to initialise the acquisition model, but that one has 4 "channels". This was briefly discussed in the tcon on Thursday.

I'll revert this to using the grappa image for now. @johannesmayer can fix it better for 3.1 😄

[2021-05-23 08:39] KrisThielemans commented on #89
Another issue is that `exercise_data_path.py` files are flagged as changed by `git` after the download.

[2021-05-23 08:41] #88 closed

[2021-05-23 08:43] KrisThielemans commented on #88
I've also fixed some grammar mistakes (I always thought that only English people wrote "it's" when they meant "its" 😆 ).

But it's a great notebook! Thanks a lot @johannesmayer

[2021-05-23 08:50] KrisThielemans opened #90 "README in each folder"
I think it'd be nice to have a README.md in each folder, especially if jupyter display the README nicely. @ashgillman I saw it doing that for you. A plugin?

[2021-05-23 09:01] KrisThielemans commented on #89
I think this is because they are tracked, so modifications won't be ignored.

Best seems to be to optionally add a file with the path used by `download_data.sh`, and let `exercise_data_path.py` see if that file exist, if not, revert to the default.

[2021-05-23 09:13] KrisThielemans commented on #63
This was fixed

[2021-05-23 09:13] #63 closed

[2021-05-23 09:16] #87 closed

[2021-05-23 09:16] KrisThielemans commented on #80
it works now

[2021-05-23 09:16] #80 closed

[2021-05-23 09:17] KrisThielemans commented on #66
Made this notebook more or less obsolete now.

[2021-05-23 09:17] #66 closed

[2021-05-24 01:47] ashgillman commented on #90
No, I was sharing from GitHub last meeting - which renders the README per directory. I did a quick google, but can't see how to do this.

[2021-05-24 01:48] ashgillman commented on #90
Only the MR and Reg notebooks subdirectories don't currently have READMEs.

[2021-05-24 01:52] ashgillman commented on #89
Taking these one-at-a-time:

This would take us back to our original issue - that code in the exercises would be modifying files in the examples data path. I think it would be nicer to have each notebook create its own working directory in the notebook location?

[2021-05-24 01:53] ashgillman commented on #89
Yes, I agree that appending path seems less evil. Then we don't need many `exercises_path_path.py` files, just one in common. I think @paskino  disagreed here?

[2021-05-24 01:54] ashgillman commented on #89
Fair criticism, I agree

[2021-05-24 01:56] ashgillman commented on #89
As far as I can see, the options are to "configure" a file, like we currently do - or have both of these look up an env variable with a common default if its not set, per my original proposal. NB: If the former, we can still "configure" this file into a `sirf_exercises` subdirectory that operate as our library directory as you suggested.

[2021-05-24 01:58] ashgillman commented on #89
This seems like a bug - I thought I'd `.gitignore`'ed these files - but I think I misspelled it

[2021-05-24 02:09] ashgillman commented on #89
So perhaps we have a `sirf_exercises` directory below the project root. Or in `common` or whatever. `download_data.sh` writes a file here, `sirf_exercises/exercises_data_path.py` (or even just a text file...) with the location. I still would prefer an ENV var for this instead of writing a file, but I think I'm alone here 😄. We can then also put any other lib functions here, e.g., `plotting.py`. An

[2021-05-24 02:13] ashgillman commented on #87
Sorry for the delay. Ah bugger - I think your proposed solution is a good temporary one until  UCL/STIR#894 makes it into mainline.

[2021-05-24 07:23] KrisThielemans commented on #90
I had seen this as an abandoned  PR https://github.com/jupyter/notebook/pull/5299. They recommend using https://github.com/NII-cloud-operation/Jupyter-LC_index.

`JupyterLab` does this though.  Maybe time to switch?

[2021-05-24 07:27] KrisThielemans commented on #89
?? the above code (should have) copied files into `exercises_data_path('PET')/working_folder/brain` (after copying it from `examples_data_path...`

[2021-05-25 03:47] ashgillman commented on #89
Ah yes - sorry I misread. I guess also related to #84. Or at least they could have the same fix. Should we have discussion there about where `working_folder` should go?

[2021-05-25 03:51] ashgillman commented on #84
Thoughts on where this working directory should go? @KrisThielemans @ckolbPTB @paskino others?

Other notebooks now are tending to put this under `exercises_data_path` which, by default, is a subdirectory from the project root, `data`.

I thought it might be easier for the user to locate these files if its a subdirectory of where the notebooks is located?
e.g., `notebooks/PET/ML_reconstruction.ipy

[2021-05-25 04:08] ashgillman commented on #90
Reading through the thread you posted, it sounds like support for Jupyter Notebooks might be fading. So it could be better to be ahead of the curve with JupyterLab. It also seems to have more features for other data formats.

JupyterLab pros:
- README
- If we could show the terminal/kernel output side-by-side would be very nice for STIR, since a lot of the output is hidden (not sure if this is pos

[2021-05-25 11:52] ckolbPTB commented on #84
I would find it easier to have a central folder where all the temp files are, i.e. notebooks/Tmp/ML_reconstruction_workdir or something like this, such that it is easy to delete all of them rather than having to go to each subfolder in notebooks.

[2021-05-25 12:16] KrisThielemans commented on #84
I agree a central folder is better. I would not put it in `notebooks/` though, as logically it doesn't make sense. `SIRF-exercises/data/workdir` or something like that? It does imply that we start the VM notebook server such that it sees higher up folders (at present it starts "in" `notebooks`), but we have to make this uniform with the docker images anyway (where the jupyter notebook server curre

[2021-05-25 23:36] ashgillman commented on #84
Okay, no worries. One more question before I can implement: is the workdir always in `SIRF-exercises/data/workdir`, or is it in `{exercises_data_path('workdir')}`?
I presume the latter - but this implies that we can't run any notebooks without running `download_data.sh` - even if they don't need any of the downloaded data. Is this acceptable?
Or does `{exercises_data_path()}` need to default to `S

[2021-05-27 05:53] ashgillman opened #91 "Weird bug installing requirements.txt on VM"
I had a weird, repeatable bug on Michael's VM (from Edo) where running update_VM.sh would fail on `python3 -m pip -U -r requirements.txt` in SIRF-Exercises.

Pip was seg-faulting.

We had to remove all libraries in `~/.local/lib/python3.X` and re-run the script.

[This answer](https://stackoverflow.com/a/59025725) suggests this might have something to use of `--only-binary`, although I was unable

[2021-05-27 06:03] KrisThielemans commented on #91
what's the value of the `--only-binary` anyway?

[2021-05-27 12:33] ashgillman commented on #91
Well I confess I haven't dug into it deeply - perhaps I'll have a look tomorrow. My understanding is you install a pre-build binary so I added it to libraries with C-level, and that it would prevent you from having to build (i.e., quicker, potentially less space used, less chance of something going wrong in the build caused by compilers etc.)

[2021-05-27 16:04] #71 closed

[2021-05-27 16:04] #70 closed

[2021-06-01 12:46] evgueni-ovtchinnikov opened #92 "Cannot reach branch gradient_descent from Jupyter"
I cloned SIRF-Exercises onto the new VM, checked out branch `gradient_descent` (from PR #85), but I cannot reach it from Jupyter - when I start Jupyter in VM subfolder `notebooks/Synergistic` and get to this subfolder in Jupyter Windows browser, I see VM files on `master`.

[2021-06-01 14:07] KrisThielemans commented on #92
did you clone into a different place? Might be easiest to just change the branch in `~/devel/SIRF-Exercises`. This happens because we have a file `~/.jupyter/jupyter_notebook_config.py`. You could also move that out of the way, or create another directory with a config file, and point to that (see `jupyter notebook --help`)

[2021-06-01 14:18] evgueni-ovtchinnikov commented on #92
thanks! (I thought `SIRF-Exercises` was part of `SIRF-SuperBuild`...)

[2021-06-01 14:18] #92 closed

[2021-06-05 08:09] KrisThielemans commented on #90
Turns out that @casperdcl already install jupyterlab on the docker image (of course). So, as opposed to going to
`http://localhost:9999/`, you just go to `http://localhost:9999/lab`.   On the VM I had to do `python3 -m pip install jupyterlab`; and start with `jupyter lab`.

If you click on a `README.md`, it opens it up in an editor as before, but right-clicking allows you to show it formatted. Not

[2021-06-08 11:19] ashgillman commented on #89
Updates after #94:

  - [ ] Fix remaining PET Notebooks
  - [x] `chdir` is absolute so can be run multiple times
  - [x] `from sirf_exercises import exercises_data_path`
  - [x] `examples_data_path` -> `examples_data_path()`
  - [x] exercise_data_path.py flagged by git - this was because .gitingore is only for new files, not modified - now we don't modify a file but create
  - [ ] Separate working

[2021-06-08 11:23] ashgillman commented on #89
Do we still want separate working directories now that we have DOWNLOAD_DIR? I guess its still nice to have

[2021-06-08 12:34] ashgillman commented on #90
I was hoping it would automatically preview when navigating to the folder. This still requires users to open the file - a low bar I know but one not all will navigate

[2021-06-08 13:01] KrisThielemans commented on #90
yeah, doesn't help a ton.

there was a notebook extension mentioned that does the trick, but I guess it's a bit lower priority at the moment! Let's just get the `README`s in (and some other tiny bits...)

[2021-06-08 14:02] KrisThielemans commented on #89
I think nice to have, but more important to clean up existing notebooks first (especially the PET ones!).

[2021-06-09 00:17] ashgillman opened #96 "MAPEM Notebook results explode"
![image](https://user-images.githubusercontent.com/816777/121182142-23761680-c8a6-11eb-93af-9617a03825bc.png)

_Originally posted by @ashgillman in https://github.com/SyneRBI/SIRF-Exercises/issues/94#issuecomment-856709022_

[2021-06-09 00:19] ashgillman commented on #89
I think once #94 is done this can be closed, #84 covers the last item

[2021-06-09 07:33] #89 closed

[2021-06-09 17:07] paskino opened #97 "requirements.txt does it need to have --only-binary"
`--only-binary` in `requirements.txt` [confuses ](https://github.com/SyneRBI/SIRF-SuperBuild/blob/9767f8adb189474e95f357ba1986e2755ba4a6dd/docker/user_service-ubuntu.sh#L10)the docker build

Do we need that?

[2021-06-09 18:56] KrisThielemans commented on #97
yes, that first fails as `conda` doesn't have that option, but then `pip` picks it up, so I didn't bother fixing it when I saw this. Still, better to do it properly.

I think we can remove it. see https://github.com/SyneRBI/SIRF-Exercises/issues/91#issuecomment-849349791 and comments above and below..

probably also occurs in SIRF.

[2021-06-10 00:55] ashgillman commented on #97
I was unable to install without --only-binary=llvmlite when experimenting recently - we just have to make sure that build dependencies are installed on the VM/Docker.

[2021-06-10 07:22] KrisThielemans commented on #97
yes, but were you able to install with just `llvmlite` (or possibly you didn't try)

[2021-06-11 14:39] KrisThielemans commented on #59
@DANAJK is this issue relevant/fixable for 3.1?

[2021-06-11 14:41] KrisThielemans commented on #31
@evgueni-ovtchinnikov is this still relevant? We need to either fix this, or move the broken notebook(s) to a subfolder with a name `broken` or similar.

[2021-06-11 14:43] KrisThielemans commented on #69
could you have a look at this? One thing to do would be to use the priors in SIRF as a first step, then see how to implement another one based on the SIRF-contrib code.

[2021-06-11 15:19] DANAJK commented on #59
I have made an alternative notebook that is on the Teams site.

[2021-06-13 20:14] DANAJK opened #98 "a_fully_sampled"
1) Spelling mistake in first cell, 'k-psace' should be 'k-space'.

2) Instructions about starting the gadgetron should say that if you are using Jupyter from a Docker service container, gadgetron is already running in the background and does not need starting.

3) I get the following error:
[code]

It wasn't obvious what to do. First I opened `download_data.sh` in Jupyter (it is possible to run ba

[2021-06-14 08:20] danieldeidda commented on #69
I guess the prior in SIRF is the one already in the notebook. Where is the SIRF-contrib code?

[2021-06-14 09:41] KrisThielemans commented on #69
I think some of these use https://github.com/SyneRBI/SIRF-Contribs/tree/master/src/Python/sirf/contrib/kcl. haven't checked...

[2021-06-14 21:43] KrisThielemans opened #99 "replace MR get_info()"
This was recently deprecated. However, name isn't final yet, see https://github.com/SyneRBI/SIRF/issues/947

[2021-06-15 10:46] KrisThielemans opened #100 "PET notebooks copy data from wrong place"
They copy data from sirf_exercises_path but should be stuff like
[code]
@ashgillman would you have time for this? Possibly together with #84 but let's not be ambitious!

[2021-06-15 21:01] DANAJK commented on #98
To follow up.

I tried running `download_data.sh` from a terminal on my Mac and still the data didn't seem to appear. So I tried `download_MR_data.sh` and some data did appear, but not what is needed for this notebook and the script stopped with an error because `md5sum` isn't on my Mac path.

I  found the data on Zenodo here `https://zenodo.org/record/2633785/files/PTB_ACRPhantom_GRAPPA.zip`, put

[2021-06-16 07:03] ashgillman commented on #100
This step is already handled in `image_creation_and_simulation.ipynb`. Or have I misunderstood?

[code]

[2021-06-16 07:12] KrisThielemans commented on #100
looks like it. I updated `display_and_projection`. maybe there's some others.

[2021-06-16 08:48] ashgillman commented on #100
I understood that the other notebooks aren't necessarily meant to run completely without running `image_creation_and_simulation.ipynb` first (like the brainweb notebooks in Synergistic which the other notebooks depend upon). So does this not hand this?

[2021-06-16 08:53] KrisThielemans commented on #100
please check what I did in the `display*` notebook. If you're happy with it, I guess you could copy it (removing most of the comments). If not, modify it first!

[2021-06-16 12:11] ashgillman commented on #97
Okay, I tested locally and I don't need the `--only-binary`, but I did previously on the VM - how best to test with docker though?

[2021-06-16 12:20] johannesmayer commented on #98
Thanks for pointing out this stuff I will correct it ...
Regarding the data you have to apparently run the script as `bash download_data.sh -m`, the `-m` standing flag for `MR`.

[2021-06-16 16:34] evgueni-ovtchinnikov commented on #31
the notebook is actually ok except that it now should be called `fully_sampled_recon_two_chains`

[2021-06-16 16:43] KrisThielemans commented on #31
great. Please "git mv" and adjust a README (if any), and close this issue then.

[2021-06-16 16:56] #98 closed

[2021-06-17 00:58] ashgillman opened #104 "Docker doesn't have rsync"
When building Docker:

[code]

[2021-06-17 01:01] ashgillman commented on #104
I used `rsync` for the `-u` and `-a` flags, but on closer inspection, good old `cp` supports these

[2021-06-17 06:28] KrisThielemans commented on #104
ok. what about checking if `rsync` is present, if so use it, otherwise use `cp`? More complicated, but `rsync` does feel nicer. It could prevent problems with files being open in one notebook, and people redownloading again by accident.

[2021-06-17 06:39] KrisThielemans opened #105 "MacOS doesn't have md5sum"
Noticed by @DANAJK .

searching online finds lots of links that `md5` outputs the hash, but nothing that checks the md5. sigh

[2021-06-17 06:55] KrisThielemans commented on #105
@DANAJK could you check if the following gives similar output to the stored md5
[code]
If so, the following would be a replacement I believe, so could you check that as well?
[code]
the latter should print `0`. If it does, we want to check with a wrong file as well
[code]
should print `1`

[2021-06-17 07:05] ashgillman commented on #104
I think `cp -ua X Y` and `rsync -ua X Y` are almost functionally equivalent? Make a copy, but only if src is newer, and maintain all file metadata?

[2021-06-17 07:06] KrisThielemans commented on #104
alright! I didn't know that.

Please check if MacOS `cp` supports it...

[2021-06-17 07:13] KrisThielemans commented on #97
once a service image is `up`, you can
[code]
and you'll be in as `root`#, so you can do
[code]
(still a bit awkward for permissions. No need for `/opt/SIRF-Exercises` to be owned by `sirfuser`, which I still need to change.)

Sadly, it then comes back with
[code]

It appears that this makes the whole `conda install` ab?ort, so the `Docker` script will fall back on `pip` anyway.

Seems we can just

[2021-06-17 07:59] DANAJK commented on #105
In a Mac terminal, `md5 -r PTB_ACRPhantom_GRAPPA.zip` gives `a7e0b72a964b1e84d37f9609acd77ef2 PTB_ACRPhantom_GRAPPA.zip` which seems to correspond correctly to the file `PTB_ACRPhantom_GRAPPA.zip.md5`

However, I don't seem to be able to correctly pipe to `diff` (maybe the output from md5 is not a file?):
[code]
and I don't understand why not.

[2021-06-17 08:06] KrisThielemans commented on #105
ok, what about
[code]

[2021-06-17 10:06] DANAJK commented on #105
Yes, that works, along with the `echo $?`

[2021-06-17 10:09] ashgillman commented on #104
No, MacOS doesn't...
I'll make a function

[2021-06-17 10:10] ashgillman opened #106 "download_data.sh - use only flags not positional arguments"
Makes it easier to set DOWNLOAD_DIR without DATA_DIR

[2021-06-17 11:56] ashgillman commented on #104
It was getting bigger than Ben Hur, I think just using cp is acceptable. These scripts I suppose would be re-written in Python for #83 ?

[2021-06-17 11:57] ashgillman commented on #100
Should be addressed in #101

[2021-06-17 11:59] ashgillman commented on #96
@KrisThielemans I'm confused again looking at this after the meeting. I think you had a different notebook open up? https://github.com/SyneRBI/SIRF-Exercises/blob/master/notebooks/PET/MAPEM.ipynb

[2021-06-17 12:02] ashgillman commented on #96
Ah wait, maybe you meant to implement de Pierro per the synergistic notebook. Yes, that fixes the notebook.

[2021-06-17 12:48] #104 closed

[2021-06-17 12:48] KrisThielemans commented on #104
agreed

[2021-06-17 12:53] #106 closed

[2021-06-17 12:57] #84 closed

[2021-06-18 06:35] #96 closed

[2021-06-18 06:36] KrisThielemans commented on #100
@ashgillman I believe this was fixed by #101?

[2021-06-18 07:28] ashgillman commented on #100
Yes, everything is now run in `DATA/working_folder/...` and data is never copied from examples, etc., but referenced as a full path.

[2021-06-18 08:06] #100 closed

[2021-06-20 13:27] DANAJK opened #112 "MR notebooks"
I checked the MR notebooks labelled a-e (there is an 'f' mentioned in the Excel spreadsheet but I didn't have that).

I was using the latest `service` Docker, but I assume this is currently equivalent to `v3.1.0-rc.1-service` as it had the same date and time when I pulled it.

in `d_undersampled_reconstructions`:
1) `get_info` is deprecated and should be replaced by `parameter_info`
2) There is a

[2021-06-21 07:57] KrisThielemans commented on #112
Actually, I think we should revert that deprecation. It was based on comments in https://github.com/SyneRBI/SIRF/issues/829, which probably weren't clear (sorry). In
https://github.com/SyneRBI/SIRF/issues/947#issuecomment-860917043 I suggested to replace the name with `get_kspace_info`. Please confirm if that's a sensible name.

[2021-06-21 08:13] KrisThielemans commented on #112
probably not... Please comment in https://github.com/SyneRBI/SIRF/issues/947

[2021-06-21 12:25] AnderBiguri opened #113 "Docker does not need to start gadgetron, but instructions say you do."
https://github.com/SyneRBI/SIRF-Exercises/blob/master/DocForParticipants.md

[2021-06-21 12:59] KrisThielemans commented on #112
now called `get_ISMRMRD_info` since merging of https://github.com/SyneRBI/SIRF/pull/962. A volunteer to correct the notebook?

[2021-06-21 15:20] #112 closed

[2021-06-21 17:26] KrisThielemans opened #116 "exercises_data_path fails after doing download_data_path.sh without options"
I've executed `download_data.sh` but nevertheless get
[code]
I have seen this in the past but then it disappeared. No clue what I did to make it work. Anyone ?

[2021-06-21 17:29] KrisThielemans commented on #116
ok, the problem is that without options, it doesn't download data, hence doesn't create the `SIRF-Exercises` directory, hence fails to read it. Best to make the directory.

work-around, actually download something by adding `-p` or `-m`

[2021-06-21 22:10] ashgillman commented on #116
Ah - makes sense.  It seems, in some ways, still nice to have an error if the user accidentally didn't download the data by forgetting to add a flag.

This is only an issues I guess because `working_folder` is inside the exercises data path. So an alternative would be to have `working_folder` separate and then the error is only raised when you try to load the actual exercises data.

I'm genuinely

[2021-06-22 05:12] KrisThielemans commented on #116
At this point in time, I'd rather keep the change very small. I suggest to create the "root" folder at the end of download script (`mkdir -p`). People will still get an error when doing `exercise_data_path('PET')` as that folder doesn't exist.

[2021-06-22 05:44] KrisThielemans commented on #113
Right, I edited the `README` and forgot to push that, so did that just now. However, now there's a lot of overlap between that file and this one, which I hadn't spotted...

[2021-06-22 08:17] #99 closed

[2021-06-22 08:23] AnderBiguri commented on #113
@KrisThielemans I think that the Readme should be the "Docs for participants" really. Makes it easier to maintain and its the first thing you see, so it is more natural to read that. So probably best to have all the info on those docs in the readme and remove the file itself.

[2021-06-22 08:27] AnderBiguri commented on #113
Well just saw your email where you prefer to put everything in DocForParticipants.

Happy to do that, but just to be clear: everything but the repo info, authors and summary goes to DocForParticipants? Most of the Readme are Docs for participants conceptually.

[2021-06-22 11:00] KrisThielemans commented on #113
yeah, I think that makes most sense. README should be short and point to other places (i.e. install, docfor participants, probably also docforinstructors).

[2021-06-22 11:01] KrisThielemans commented on #113
In the end, it doesn't matter too much where we put it, as long as it is in one place only!

[2021-06-22 20:49] paskino opened #119 "OSEM_reconstruction notebook Error"
I run the notebook and found

[code]

[2021-06-22 21:37] paskino opened #120 "Jupyterhub: reconstruc_measured_data error"
Running the `convertSiemensInterfileToSTIR.sh` script one needs to use the following instead of what is in the notebook (the first 2 commented lines)

[code]

notice that expanding `$data_path` (which is by the way correct) failed for me with `Input file is not readable`

[2021-06-22 21:45] KrisThielemans commented on #119
should have been fixed with https://github.com/SyneRBI/SIRF/pull/964. SIRF a bit too old?

[2021-06-22 23:08] paskino commented on #119
`git log` in SIRF source reports

[code]

[code]

[2021-06-22 23:17] paskino commented on #119
The error message is totally unclear, it should state what expected and what received.

[2021-06-23 03:36] ashgillman opened #121 "cd_to_working_dir() to get_working_dir"
To be honest, I do not see the added value of the function `cd_to_working_dir` as it's use is just to change directory to a directory where the user will store temporary working data. It does it in a totally opaque way and it really just wraps `os.path.join` + `os.makedirs`, we might as well just use those in the notebooks and will not have the problem.

Also the user does not seem to know where t

[2021-06-23 03:37] ashgillman commented on #121
Do we want to replace all to:

[code]
?

[2021-06-23 06:33] KrisThielemans commented on #121
at this point in time, I wouldn't do it anymore. We can do it afterwards

[2021-06-23 06:34] KrisThielemans commented on #119
yes, which is why I fixed it after SIRF 3.1.0-rc.1.

[2021-06-23 06:36] paskino commented on #119
I just checked what is installed and it is indeed not what it should be according to `git log`.

[2021-06-23 06:41] paskino commented on #119
Oh yes. The tagged commit is too old. I'll add the newest tag to the SuperBuild or tag with rc-2?

[2021-06-23 06:44] KrisThielemans commented on #119
newest tag. There's 2 (even more problematic) issues in SIRF sadly.

[2021-06-23 08:21] AnderBiguri commented on #113
Are there instructions for the cluster? Should I just go and replace all the Azure instructions, or remove them?

[2021-06-23 08:24] KrisThielemans commented on #113
no instructions for the STFC cluster yet. @paskino I suggest we put them on HackMD.

Please leave Azure instructions in place. One day, we'll reenable that. just make sure that it clearly says "if your instructors tell you..."

[2021-06-23 08:37] AnderBiguri opened #122 "Defragmenting docs: VM installation"
Currently, to point a newbie from this repo to installation instructions, we need to point them to

https://github.com/SyneRBI/SIRF/wiki/How-to-obtain-SIRF

Which for the VM points to

http://www.ccpsynerbi.ac.uk/downloads

But we also need to point them to

https://github.com/SyneRBI/SIRF-Exercises/blob/master/INSTALL.md

Which has more information on the VM, including direct links to

https://gi

[2021-06-23 08:47] KrisThielemans commented on #122
There certainly is repetition that needs to be culled. However, it sort of implies fragmentation. It's neater to have everything in one place but it is unmaintainable.

I'm hoping that the wiki or downloads page points to https://github.com/SyneRBI/SyneRBI_VM/blob/master/INSTALL.md. That file we cannot get rid of.

The SIRF-Exercises INSTALL has to talk about installing the SIRF-Exercises. Should

[2021-06-23 08:49] AnderBiguri commented on #122
I would suggest to completely remove anything that is not self-build in the SIRF-Exercises INSTALL, except a single line saying "this is for self build, otherwise go to -> https://github.com/SyneRBI/SIRF/wiki/How-to-obtain-SIRF"

[2021-06-23 08:54] KrisThielemans commented on #122
sure

[2021-06-23 13:36] paskino opened #123 "Jupyterhub: Path to real data in NEMA IQ example"
In the [PET reconstruct real data notebook](https://github.com/SyneRBI/SIRF-Exercises/blob/master/notebooks/PET/reconstruct_measured_data.ipynb) we rely on the user to run the script `convertSiemensInterfileToSTIR.sh` to convert the Siemens to a STIR readable interfile file header. Now, on the jupyterhub the cell that is supposed to run that does not work for multiple reasons.

I have therefore pr

[2021-06-23 13:57] paskino opened #124 "HKEM notebook refers to data that doesn't exist"
The notebook makes use of some data that is not available and it is not explained how to get it. Possibly it should be executed after the [BrainWeb](https://github.com/SyneRBI/SIRF-Exercises/blob/master/notebooks/Synergistic/BrainWeb.ipynb) notebook, though I tried it and that's not sufficient.

[code]
[code]

[2021-06-23 14:00] paskino commented on #54
I believe that this notebook is superseded by [cil_joint_tv_mr.ipynb](https://github.com/SyneRBI/SIRF-Exercises/blob/master/notebooks/Synergistic/cil_joint_tv_mr.ipynb) and this issue should be closed @KrisThielemans @DANAJK

@mscipio I believe that the current version of CIL supports natively the `GradientOperator` on SIRF `DataContainer`s.

[2021-06-23 14:02] KrisThielemans commented on #54
I agree. @ckolbPTB could confirm.

[2021-06-23 14:02] KrisThielemans commented on #54
obviously, the obsolete notebook should be removed

[2021-06-23 14:04] KrisThielemans commented on #123
1 seems to be fine. It would need to work on the VM etc as well though. I'll be checking this notebook later today (I hope), but please fix it first.

[2021-06-23 14:04] paskino commented on #123
I close this as almost duplicate of #120
Let's continue the conversation there

[2021-06-23 14:04] #123 closed

[2021-06-23 14:05] paskino commented on #120
This was originally posted in #123

In the [PET reconstruct real data notebook](https://github.com/SyneRBI/SIRF-Exercises/blob/master/notebooks/PET/reconstruct_measured_data.ipynb) we rely on the user to run the script `convertSiemensInterfileToSTIR.sh` to convert the Siemens to a STIR readable interfile file header. Now, on the jupyterhub the cell that is supposed to run that does not work for mu

[2021-06-23 14:07] paskino commented on #119
I close this as bug is fixed in current SIRF master.

[2021-06-23 14:07] #119 closed

[2021-06-23 14:51] KrisThielemans commented on #120
see my reply for option 1 in https://github.com/SyneRBI/SIRF-Exercises/issues/123#issuecomment-866865458

[2021-06-23 14:51] ckolbPTB commented on #54
yes, this notebook can be deleted.

[2021-06-23 21:32] ashgillman commented on #124
I will check if this tonight. Also tagging @danieldeidda

[2021-06-23 21:40] ashgillman commented on #120
I'll have a look at this tonight in greater detail.

But yes, the cells are a little unclear.

[code]

despite being labelled "input files", `norm_file` and `attn_file` are actually the outputs from the `convertSiemensInterfileToSTIR.sh ` - which is why they are in the `working_folder`.

These file names aren't actually used until the cell is run, so the notebook should run fine? It did for me.

1

[2021-06-23 21:44] ashgillman commented on #120
It should, more explicitly, be like:

[code]

and then:

[code]

[2021-06-23 22:07] KrisThielemans commented on #120
ok. that could work.

obviously a pity of the `PATH` (as it looks very weird, but probably would work anywhere, as you can have non-existent directories in a path)

By the way, there is no need to run `convertSiemensInterfileToSTIR` on the `.n.hdr` anymore as far as I recall. but still need to do the `sed` thing.

And by the way, the `sed` line will fail on MacOS. You need `sed -i.bak ...` (see ht

[2021-06-23 22:08] paskino commented on #120
The problem is that the convert script on the jupyterhub instance is not in `/opt/SIRF-SuperBuild/INSTALL/bin/` rather in `${SIRF_PATH}/../STIR/scripts/IO`, i.e. `/opt/SIRF-SuperBuild/sources/STIR/scripts/IO`. On the contrary in the VM it is installed in `~/devel/install/bin`.

But, how does it get installed? Apparently one should need to set [`BUILD_EXECUTABLES=ON`](https://github.com/UCL/STIR/bl

[2021-06-23 22:30] ashgillman commented on #124
The file definitely doesn't exist? Not some other error?

And yes, you were right, in order to run this notebook you need to first run the Brainweb notebook (not the single slice one).

[2021-06-23 22:32] ashgillman commented on #124
What is the best way to test this with as close an environment to the training school? Docker obviously, but any specific tag?

[2021-06-23 22:49] KrisThielemans commented on #124
`service`. It's a few SIRF commits old, but as Travis ran out of credits again, and they haven't replied in a week, I cannot push another one. (I guess we could push by hand...). in any case, that shouldn't matter for this one.

[2021-06-23 22:52] KrisThielemans commented on #120
https://github.com/UCL/STIR/issues/894. I can't see why it'd be installed on the VM.

However, I think the notebook says to try that, so I wouldn't try to fix this now.

I don't think we should set `STIR_BUILD_EXECUTABLES=ON` as the images become quite a lot larger.

[2021-06-23 23:00] #54 closed

[2021-06-24 02:53] ashgillman commented on #120
Can we just add to PATH in the Dockerfile?

[2021-06-24 03:42] ashgillman commented on #120
I'm confused why the PATH is needed.

I've tested the Notebook in Docker and for me it "just works" $^{TM}$

![image](https://user-images.githubusercontent.com/816777/123199262-e2127780-d4f1-11eb-92a5-56c47e8fdb84.png)

[2021-06-24 04:05] ashgillman commented on #124
I've just run this notebook on Docker and seemed to work fine. Note that you have to run the BrainWeb.ipynb notebook to completion, it is the very last cell that creates the required image.

[2021-06-24 06:59] paskino commented on #120
OK, so `${SIRF_PATH}/../STIR/scripts/IO` should be universal.

[2021-06-24 07:02] paskino commented on #120
Yes we could, however the kubernetes/jupyterhub configuration is particularly different and `.bashrc` isn't sourced. So even starting `gadgetron` requires us to specify `PATH=/opt/SIRF-SuperBuild/INSTALL/bin:$PATH gadgetron`

[2021-06-24 08:48] KrisThielemans commented on #90
@johannesmayer @ckolbPTB can you please create a `MR/README.md`? Use links for the notebooks.

[2021-06-24 09:54] KrisThielemans commented on #90
all done with #129

[2021-06-24 09:54] #90 closed

[2021-06-24 10:42] AnderBiguri commented on #122
There are 2 sets of instructions for the VM (which I don't have installed now) on this page, one in README, anther one in the docs for participants.

On the README:

https://github.com/SyneRBI/SIRF-Exercises#starting-the-jupyter-server

Of the participants Docs:

https://github.com/SyneRBI/SIRF-Exercises/blob/master/DocForParticipants.md#using-the-vm

I am a bit confused here. The second one seems

[2021-06-24 11:35] KrisThielemans commented on #122
Probably the best thing to do is to move the information from the first item to https://github.com/SyneRBI/SyneRBI_VM/blob/master/documentation/Basic-usage.md.

[2021-06-24 14:22] AnderBiguri commented on #122
If they are not needed to start the VM and jupyter, I agree.

Still not sure if they are needed, I guess I'd need to try it....

[2021-06-24 16:30] paskino commented on #120
OK the last bit is that the `norm.n.hdr' and 'umap.v.hdr' are in a different directory from where the data is.

Adding this at their creation time makes things work

[code]

[2021-06-24 16:36] KrisThielemans commented on #120
sigh. I guess we really should have this as part of the `convert*.sh`, but can't do that anymore. Can you create a STIR issue for that? (in your spare time).

minor simplification
[code]
Note that Johannes has some neat trick with using `%%bash` at the start of the cell and not needing Python at all, but whatever works really.

[2021-06-24 16:50] paskino commented on #120
Sure! I'll do it in my spare time :D

[2021-06-24 17:51] #120 closed

[2021-06-24 21:33] #67 closed

[2021-06-24 21:34] KrisThielemans commented on #68
This was fixed (in a slightly different way) recently

[2021-06-24 21:34] #68 closed

[2021-06-25 00:11] ashgillman commented on #120
I'd have just copied the data file, but this saves space I guess!

[2021-06-25 07:26] paskino opened #134 "SIRF-Exercises cannot be run unless download_data.sh is called!!!"
This is because `cd_to_working_dir` fails.

[2021-06-25 07:28] KrisThielemans commented on #134
Yes, but you're behind the curve. #127 should make sure you can run it without downloading anything.
not ideal but this is where we are at the moment. I think Intro notebooks tell you clear enough what to do.

[2021-06-25 08:52] ashgillman commented on #134
#126

[2021-06-25 09:31] #60 closed

[2021-06-25 09:34] johannesmayer opened #136 "Geometry notebook has wrong RAH2LPH matrix"
@DANAJK hello David, you use the matrix in your notebook
[code]
to transform between LPH and RAH coordinates, however, this matrix is not invertible and hence can not be used to transform between the systems.
The correct one is (should be) this one, where you revert the first two coordinate directions:
[code]
and then we need to use either

`A_LPH = np.matmul(RAH2LPH, A_RAH)` instead of `A_LPH = n

[2021-06-25 09:39] johannesmayer commented on #136
I think `A_LPH = np.matmul(RAH2LPH, A_RAH)` produces the same results below in the notebook as happened with your other matrix. Since the indices are coming in the RAH system already, the `A_LPH = np.matmul(RAH2LPH, np.matmul(A_RAH, np.transpose(RAH2LPH)))` would be wrong, that's just the transform if you want to apply it to LPH indices.

I will make a PR.

[2021-06-25 09:49] KrisThielemans commented on #136
well spotted!

[2021-06-25 10:39] #113 closed

[2021-06-25 10:39] #122 closed

[2021-06-25 10:41] #105 closed

[2021-06-25 10:42] #116 closed

[2021-06-25 15:57] #136 closed

[2021-06-25 15:58] KrisThielemans commented on #59
all done I believe.

[2021-06-25 15:58] #59 closed

[2021-06-25 15:59] KrisThielemans commented on #62
addressed in the Geometry notebooks

[2021-06-25 16:07] KrisThielemans commented on #31
I've checked that it runs. I'm not sure about the naming, and it's fairly obsolete as a notebook anyway, so I'll just close this.

[2021-06-25 16:07] #31 closed

[2021-06-26 12:47] KrisThielemans commented on #124
other things wrong in this notebook. Fixing it today.

[2021-06-26 23:14] #124 closed

[2021-06-27 17:57] KrisThielemans commented on #69
addressed by writing explanations and leaving it as an exercise to the student :-)

[2021-06-27 17:57] #69 closed

[2021-06-28 07:08] ashgillman opened #141 "Does reconstruct_measured_data run on JupyterHub with the cp command"
interesting, is it going to fail on JupyterHub (and docker) due to read-only location? Better to write it in the current dir?

_Originally posted by @KrisThielemans in https://github.com/SyneRBI/SIRF-Exercises/pull/140#discussion_r659504052_

[2021-06-28 07:09] ashgillman opened #142 "[1 1 1] kernel for MAPEM?"
Mathematically, they are different. If `w=[1 1 1]` we get x_i = 1/6 x_{i-1} + 2/3 x_i + 1/6 x_{i+1} and if `w=[1 0 1]` we get x_i = 1/4 x_{i-1} + 1/2 x_i + 1/4 x_{i+1}.

Of course this means nothing... (I think). But I can intuit [1 1 1] better.

_Originally posted by @ashgillman in https://github.com/SyneRBI/SIRF-Exercises/pull/140#discussion_r659529858_

[2021-06-28 07:12] ashgillman commented on #141
Related #120 - I was under the impression this was somehow fixed?

@paskino

[2021-06-28 23:42] ashgillman commented on #91
I think this can be closed - we had no further issues on newer VM and `--only-binary` is being handled in #97

[2021-06-28 23:42] #91 closed

[2021-06-30 14:48] ashgillman opened #144 "reconstruct_measured_data bugs"
[code]

to

[code]

[2021-06-30 14:54] ashgillman commented on #144
Unfortunately I'd found and fixed these but didn't stage after testing

[2021-06-30 15:24] #144 closed

[2021-07-06 17:53] KrisThielemans opened #146 "problem in PET/reconstruct_measured_data due to SIRF bug"
Due to https://github.com/SyneRBI/SIRF/issues/983, randoms and scatter background terms are currently ignored in this notebook...

Current work-around is to replace
[code]
with
[code]

Note: the "additive" term is precorrected for the acquisition sensitivity, while the "background" term is not. See `help(AcquisitionModel)`

[2021-07-06 18:47] KrisThielemans commented on #141
resolved, albeit it in a somewhat ugly way

[2021-07-06 18:47] #141 closed

[2021-07-15 16:54] KrisThielemans opened #148 "path problem in synergistic notebooks"
See https://hackmd.io/@SIRF-CIL-Fully3D/SkZqjSf3O#Q-Data-not-downloaded-on-cloud

[2022-04-28 09:13] johannesmayer opened #150 "MR notebook e has dimensionality error due to splitting complex to real"
@ckolbPTB discovered that
[code]
causes problems.

[2022-04-28 09:14] johannesmayer commented on #150
splitting complex iamges into 2 images with real and imaginary part causes some dimensionality issues. I will take care of it.

[2022-04-28 10:01] #134 closed

[2022-04-28 10:04] KrisThielemans commented on #146
@evgueni-ovtchinnikov can you please check this one? should be fixed now

[2022-04-28 10:07] KrisThielemans commented on #55
@DANAJK is this still relevant? Maybe you could attempt a fix, if it is

[2022-04-28 10:53] DANAJK commented on #55
It looks like it is still there. When this line is called
`subplot_([2,3,1],FDG_arr [100:-100, 100:-100],'FDG'    ,cmap="hot")`
`FDG_arr` will be (1,344,344) (I don't know how the above subplot copes without a squeeze of the first dimension).
Then the array is cropped to (1,150,150) in the code, and this is similar to taking indices 100 to 344-100 in the original `FDG_arr` so the figures will look

[2022-04-29 15:17] paskino opened #152 "download_data.sh without flags does not error"
Running the download script without flags should prompt the usage text. However, I found the following which seems to suggest that everything went fine:

[code]

[2022-04-29 16:47] KrisThielemans commented on #152
this might be not so obvious. I think it is intended to work like this, i.e. if no -p or -m, create folders, but don't download anything. Maybe we could handle this quite simply by letting it work as it does now but write a message

[code]

[2022-05-02 21:05] DANAJK opened #154 "Singleton first dimension problems in BrainWeb-single_slice_motion.ipynb"
**BrainWeb-single_slice_motion.ipynb**

After `FDG_arr  = vol['PET']`, the shape of `FDG_arr` is (127,344,344).

Then after
   slice = FDG_arr.shape[0]//2
   FDG_arr  = FDG_arr[slice,:,:]

`FDG_arr` has shape (344,344) (i.e. there has been a secret squeeze). This subsequently causes problems with `im.fill(vol)` because `vol` is derived from `FDG_arr` and is thus 2D (despite the name `vol`), wherea

[2022-05-04 14:02] paskino commented on #154
I guess we need to use numpy [`expand_dims`](https://numpy.org/doc/stable/reference/generated/numpy.expand_dims.html)

Something like this might work

[code]

[2022-05-04 14:04] DANAJK commented on #154
Also the BrainWeb notebook

[2022-05-04 15:30] evgueni-ovtchinnikov commented on #146
seems to work fine

[2022-05-04 15:30] #146 closed

[2022-05-05 11:52] NicoleJurjew commented on #154
I changed the BrainWeb-single_slice_motion.ipynb notebook. @DANAJK is right, the same function is implemented in the BrainWeb notebook. It deals with the entire 3D array rather than cropping to a 2D image, though, so the error doesn't occur for me.

[2022-05-07 11:54] KrisThielemans commented on #87
This is fixed on STIR master now. As soon as we update SIRF, we'll be ok. In any case, the work-around will help most people anyway.

[2022-05-10 11:58] evgueni-ovtchinnikov opened #156 "Remaining Jupyter notebooks issues"
- [ ] Introductory/acquisition_model_mr_pet_ct.ipynb (PR 703):
[code]
- [x] #150
- [ ] Synergistic/Solutions/Dual_PET_Answer-noMotion:
[code]
- [ ] Synergistic/Solutions/Dual_PET_Answer-wMotion:
[code]

[2022-05-12 08:38] #150 closed

[2022-05-12 09:33] KrisThielemans commented on #156
@samdporter can you help with the path issues above?

[2022-05-12 09:35] KrisThielemans commented on #156
actually path problems are probably #148

[2022-05-12 10:32] samdporter commented on #156
Sure, I'll have a look

[2022-05-12 12:13] #154 closed

[2022-05-13 09:59] samdporter commented on #148
These path issues can be fixed in the VM with a little bit of tweaking (though I'm getting a jupyter server error so can't test it atm), but I think anything we do will cause problems in the STFC cloud. Currently the data is downloaded to "/mnt/materials/SIRF/Fully3D/SIRF/" which is Read-only.

[2022-05-17 19:40] DANAJK commented on #148
Yes. This means we can’t get started because the cd_to_working_dir tries to create a directory, but cannot.

[2022-05-18 13:56] DANAJK commented on #148
Works if you first run the bash script 'download_data.sh' (without the '-h') described in notebook  Introductory/introduction.ipynb

[2022-05-20 09:56] epapoutsellis commented on #156
I checked all the notebooks for PSMR on a new [cloud instance](https://github.com/SyneRBI/SIRF-SuperBuild/pull/718) that @paskino gave me. **All the notebooks in the Introductory, Geometry, MR, PET, Synergestic folders are ok.** However,

1) In almost all of the notebooks there is `%matplotlib notebook` which atm raises `Javascript Error: IPython is not defined` without showing the figures. In som

[2022-05-20 10:02] KrisThielemans commented on #156
Thanks!
Please do not delete license info. We could shorten it, but let's not do that now.

[2022-05-20 10:05] KrisThielemans commented on #156
To be honest, I also wouldn't edit matplotlib statements due to git fun with notebooks (committers need to have followed nbstripout instructions)

[2022-05-20 10:28] paskino commented on #156
I think the license should be written in verbatim, so that it's clear what it is.

The `%matplotlib notebook` problem is due to some software issue with the image I create, and so far didn't manage to fix it.

[2022-05-20 10:45] paskino commented on #156
BTW there are #161 and #162 PRs to the notebooks that we should consider merging before the school.

[2022-05-20 11:00] danieldeidda commented on #156
Hi, slightly unrelated. I can see that the NPL data is in the cloud but  while I can access data downloaded from the download_data.sh I cannot do the same for the real data

[2022-05-20 14:23] paskino commented on #156
We should also add the following in order to reduce the output in the notebooks

[code]

[2022-05-27 05:37] KrisThielemans commented on #148
@samdporter I believe you fixed this in #173 (or earlier)?

[2022-05-27 05:47] KrisThielemans commented on #152
fixed in 0b089f671042ed74a089c2ab135ea6bd176f5e40

[2022-05-27 05:47] #152 closed

[2022-05-27 05:48] KrisThielemans commented on #55
Is this resolved? If not, does it need to be before the school?

[2022-05-27 06:21] KrisThielemans commented on #156
done in 4396a9e89e57ca6098635f5a1f8b2df1e73a4a6b

[2022-05-27 06:22] KrisThielemans commented on #156
sorry. License statements should be in each file to the best of my understanding.

[2022-05-27 06:24] KrisThielemans commented on #156
@paskino does `%matplotlib widget` work? If so, I would NOT modify all notebooks, but create a separate issue "document when to use matplotlib notebook/inline or widget " and add a statement to the HackMD page to use `widget`

[2022-05-27 06:27] KrisThielemans commented on #156
`Introductory/acquisition_model_mr_pet_ct.ipynb` astra problem should be resolved.

`Synergistic/Solutions/Dual_PET_Answer-noMotion` could be path issue, but also depends on previous notebook being run. Ideally we add a statement in the notebook accordingly. @evgueni-ovtchinnikov  can you please check the current status, and create a separate issue if it still fails?

[2022-05-27 06:28] KrisThielemans opened #175 "shorten license info by using spdx identifier"
Some notebooks contain long Apache 2.0 info. We can shorten it

[2022-05-27 06:33] KrisThielemans opened #176 "some SPECT notebooks use ~/SIRF-Exercises"
`SPECT_OSEM_measured_data*.ipynb` say
[code]
The first line should probably be
[code]
The next lines should be split into a separate cell, as it is appropriate only on the cloud instance.

@samdporter @danieldeidda can you fix this?

[2022-05-27 08:17] samdporter commented on #148
Yes. This works as long as the introduction nb (or just the bash script) is run

[2022-05-27 09:26] DANAJK opened #177 "matplotlib"
Seems like on STFC cloud, notebooks need to use `%matplotlib inline` instead of  `%matplotlib notebook`. I have added a note on the HackMD site.

[2022-05-27 09:43] KrisThielemans commented on #177
please try `%matplotlib widget` as well? (we've switched to JupyterLab)

[2022-05-27 09:43] #148 closed

[2022-05-27 09:44] DANAJK commented on #177
`%matplotlib widget` gives an error

[2022-05-27 09:45] KrisThielemans commented on #177
sigh. which one? Probably need `ipypml`? I though @paskino has added it.
could install via conda https://anaconda.org/conda-forge/ipympl or pip and see what happens...

[2022-05-27 09:46] DANAJK commented on #177
Error is "Warning: Cannot change to a different GUI toolkit: widget. Using notebook instead."

[2022-05-27 09:47] KrisThielemans commented on #177
there's also https://stackoverflow.com/questions/52703190/cannot-change-to-a-different-gui-toolkit-notebook-warning-in-jupyter which I don't understand

[2022-05-27 10:33] #176 closed

[2022-05-27 21:47] KrisThielemans commented on #177
doesn't help

[2022-05-27 21:56] KrisThielemans commented on #177
`%matplotlib widget` does work if done BEFORE ANYTHING ELSE.

[2022-05-27 22:33] KrisThielemans commented on #177
hackMD updated. Ideally update the doc in the repo as well.

[2022-05-27 23:36] KrisThielemans opened #179 "download_data.sh on the STFC cloud"
I don't think `download_data.sh` can currently pick up data from the `/mnt` folder.

[code]
This is because https://github.com/SyneRBI/SIRF-Exercises/blob/7ee39512583f4d48f830c24a10f3fb8a0bfd4da7/scripts/download_data.sh#L140

[2022-05-28 00:29] KrisThielemans commented on #179
I see that the following env variables exist on my instance
[code]
The latter seems nowhere used.

[2022-05-28 06:51] DANAJK commented on #55
Resolving lead to the expand_dims fix for a new bug. Original aim of removing the [100:-100 … code was not implemented. Not essential, just for clarity.

[2022-05-28 10:23] KrisThielemans commented on #156
all seems ok, so closing

[2022-05-28 10:23] #156 closed

[2022-11-07 15:48] danieldeidda opened #184 "4_setup_training notebook deep learning"
I am trying to run the deep learning notebooks but the last one fails at the 3rd cell. with the following error:

UnpicklingError: invalid load key, '<'.

it seems something is wrong with the downloaded data in the previous cell
@Imraj-Singh

[2022-11-08 10:44] Imraj-Singh commented on #184
@danieldeidda, this is my bad, that link points to the trained model in my personal OneDrive account that is now non-existent. The code can still work without the trained model, and you could train you own. This was a problem in the lead up to PSMR as saving the model in this repository bloats it, and OneDrive was my quick fix. Zenodo was mentioned as a place to put data, but I am not sure if I sh

[2022-11-08 13:47] DANAJK commented on #184
There is a SyneRBI community on Zenodo. I'll send you an upload link.

[2022-11-08 15:45] Imraj-Singh commented on #184
Great, thanks! I'll retrain and upload soon.

[2022-11-14 13:51] Imraj-Singh commented on #184
#185 created a pull request with a fix

[2022-11-21 09:56] mele-y opened #186 "about the normalization of NEMA data"
Hello,I am trying to get the normalized sinogram as follows:
[code]
`sino_f1g1d0b0.hs` and `norm.n.hdr` come from NEMA IQ  data,but I'm not sure whether `normalized_acq_data`is normalized sinogram or not because the reconstructed image look like this:
![output](https://user-images.githubusercontent.com/43068852/203020509-0601e357-3bc1-4b00-8494-e6fb27f5c200.png)